body{
    background-image: url("../Images/Ocean1.jpg");
    background-repeat: no-repeat;
    background-color: lightblue;
    background-size: 1300px 595px;
}

div.main{
    background-color: lightsteelblue;
    border-radius: 20px;
    border-style: solid;
    width: 720px;
    height: 570px;
    margin: auto;
}

h1{
    margin-left: 35px;
    bottom: -72px;
    font-family: "Copperplate Gothic Light", serif;
}

div.text{
    margin-left: 45px;
    font-size: 20px;
    font-family: "Book Antiqua", serif;
}