<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Din side</title>
</head>
<body>
    <h1>Dine ønskesedler</h1>
    <span> <a th:href="@{'/createseddel/'+ ${bruger.bruger_id}}">Tilføj seddel</a></span>
    <div th:each="s : ${oenskesedler}">
        <span> <a th:href="@{'/ønskeseddelview/'+ ${s.seddel_id}+'/'+${bruger.bruger_id}}">Se seddel</a></span>
        <span th:text="${s.seddel_navn}"></span>
        <span> <a th:href="@{'/createønske/'+ ${s.seddel_id}+'/'+${bruger.bruger_id}}">Tilføj ønske</a></span>
        <span> <a th:href="@{'/delseddel/'+ ${s.seddel_id}+'/'+${bruger.bruger_id}}">Del seddel</a></span>
    </div>
    <h1>Ønskesedler delt med dig</h1>
    <div th:each="d : ${delteoenskesedler}">
        <span> <a th:href="@{'/ønskeseddelview/'+ ${d.seddel_id}+'/'+${bruger.bruger_id}}">Se seddel</a></span>
        <span th:text="${d.seddel_navn}"></span>
    </div>
</body>
</html>