<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Din side</title>
    <link rel="stylesheet" href="/View/seddelWeb.css">
</head>
<body>
<div class="main">
    <div class="text">
    <h1>Dine ønskesedler</h1>
    <span> <a th:href="@{'/createseddel/'+ ${bruger.bruger_id}}">Opret ønskeseddel</a></span>
        <br>
        <br>
    <div th:each="s : ${oenskesedler}">
        <span th:text="${s.seddel_navn}"></span>
        :&nbsp;&nbsp;
        <span> <a th:href="@{'/ønskeseddelview/'+ ${s.seddel_id}+'/'+${bruger.bruger_id}}">Se seddel</a></span>
        &nbsp;&nbsp;
        <span> <a th:href="@{'/createønske/'+ ${s.seddel_id}+'/'+${bruger.bruger_id}}">Tilføj ønske</a></span>
        &nbsp;&nbsp;
        <span> <a th:href="@{'/delseddel/'+ ${s.seddel_id}+'/'+${bruger.bruger_id}}">Del seddel</a></span>
        <br>
        <br>
    </div>
    <h1 class="title">Ønskesedler delt med dig</h1>
    <div th:each="d : ${delteoenskesedler}">
        <span th:text="${d.seddel_navn}"></span>
        :&nbsp;&nbsp;
        <span> <a th:href="@{'/ønskeseddelview/'+ ${d.seddel_id}+'/'+${bruger.bruger_id}}">Se seddel</a></span>
        <br>
        <br>
    </div>
</div>
</div>
</body>
</html>