<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create ønske</title>
    <link rel="stylesheet" href="/View/seddelWeb.css">
</head>
<body>
<div class="main">
Create ønske
<form action="/createønske" method="post">

    <input type="hidden" name="bruger_id" th:value="${bruger_id}">
    <input type="hidden" name="seddel_id" th:value="${seddel_id}">

  <label for="navn-felt">Ønske navn</label>
  <input id="navn-felt" name="ønske_navn">

  <label for="pris-felt">Ønske pris</label>
  <input id="pris-felt" name="ønske_pris">

  <button type="submit">Submit</button>

</form>

</div>
</body>
</html>