<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/View/seddelWeb.css">
</head>
<body>
<div class="main">
<h1>Register your account</h1>

<form action="/registerside" method="post">
    <label for="navn-felt">Navn</label>
    <input id="navn-felt" name="register_navn">

    <label for="password-felt">Password</label>
    <input id="password-felt" name="register_password">

    <button type="submit">Register</button>

</form>
</div>
</body>
</html>