<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskeseddel</title>
    <link rel="stylesheet" href="/View/seddelWeb.css">
</head>
<body>
<div class="main">
    Dine ønsker
    <div th:each="s : ${oenskeliste}">
        <span th:text="${s.oenske_navn}"></span>
        <span th:text="${s.oenske_pris}"></span>
        Reserveret af:
        <span th:text="${s.reserveret}"></span>
        <a th:href="@{'/reserver/'+ ${s.oenske_id}+'/'+${bruger_id}}">reserver ønske</a>
    </div>
</div>
</body>
</html>